@model DissProject.Models.YearWorkPlanApplications

@{
    ViewBag.Title = "Създаване на работен план";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @*@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    *@<fieldset>
        <legend>YearWorkPlanApplications</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlanYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlanYear)
            @Html.ValidationMessageFor(model => model.PlanYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FormOfConduct)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FormOfConduct)
            @Html.ValidationMessageFor(model => model.FormOfConduct)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FormOfReport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FormOfReport)
            @Html.ValidationMessageFor(model => model.FormOfReport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DueDate)
        </div>
        <div class="editor-field">
            
            @Html.TextBoxFor(m => m.DueDate, new { id = "date"} )
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Обратно", "Index")
</div>
@section Scripts {
    <script type="text/javascript">
        $('#date').datepicker({ dateFormat: "dd/mm/yy" });</script> 
}
